form {
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border: 15px;
    background-color: #261414;
}

form fieldset{

border:  0;

}
form fieldset label {
    display: block;
    color: #f37373;
}

form fieldset input, textarea {
    width: 100%;
}

